* {
    border: 0;
}


body {
    border: 0px;
    padding: 0;
    font-family: 'Courier New', Courier, monospace sans-serif;
}

nav {
    background-color: darkblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bold;
}

nav a:hover {
    box-shadow: 0 0 10px;
    background-color: yellow;
    color: blue;
    padding: 6px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 60px;
    background-color: #f5f5f5;
}

.hero img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 15px darkblue;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 2.5rem;
    color: #3c0bb7;
}

.hero-text p {
    font-size: 1.1rem;
    color: #555;
}

button {
    background-color: darkblue;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: yellow;
    color: blue;
}

footer {
    background-color: darkblue;
    padding: 10px 10px;
    margin-top: 40px;
    border-radius: 2px;
    text-align: center;

}

footer p {
    color: white;
}

footer .social-links {
    margin-top: 10px;
}

footer .social-links a {
     color: white;
     text-decoration: none;
     margin: 0 10px;
     transition: color 0.3s ease;
} 

footer .social-links a:hover {
  color: lightblue;
}